.chat {
    display:flex;
    flex-direction: column;
    flex: 0.65;
    background-color: white;
    height:100vh;
}

.chat__header {
    display: flex;
    padding:20px;
    border: 1px solid lightgray;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
}

.chat__header > h4 {
    font-weight: 500;
    color: gray;
}

.chat__name {
    color:black
}

.chat__input {
    display: flex;
    align-items: center;
    padding:10px 20px;
    border-top: 1px solid rgb(206, 205, 205);
    background-color: rgb(241, 240, 240);
}

.chat__input > form {
    flex:1;
}

.chat__input > form > input {
    width: 98%;
    outline-width: 0;
    border: 1px solid lightgrey;
    border-radius:999px;
    padding: 5px;
}

.chat__input > form > button {
    display:none;
}

.chat__messages {
    flex:1;
    overflow: scroll;
}

/* hide scrollbar for chrome, safari and opera */
.chat__messages::-webkit-scrollbar{
    display: none;
}

/* hide scrollbar for IE, Firefox and Edge */
.chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}